<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8"/>
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Inventario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <th:block th:replace="fragments/style"/>
    </head>

    <body>

        <div th:replace="fragments/header :: header"/>

        <div class="container" layout:fragment="content">
            <h1>Render content here!!!</h1>
        </div>

        <div th:replace="fragments/footer :: footer"/>

        <th:block th:replace="fragments/script"/>
        
        <th:block layout:fragment="myScript"/>
    </body>
</html>
