<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Dependencia</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    </head>
    <body>
        
         <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody th:each="dependencia : ${dependencias}">
                <tr>
                    <th><span th:text="${dependencia.iddependencia}">ID</span></th>
                    <th><span th:text="${dependencia.descripDireccion}">DESCRIPCION</span></th>
                </tr>
            </tbody>
        </table>
        
 
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
